<div class="container">
	<div class="panel panel-default profilePanel">
		<div class="panel-heading">Calculator</div>
		<div class="panel-body">
			<legend>
				<i class="ion-clipboard" style="font-size:6px;"></i>Enter any three fields to calculate the fourth
			</legend>
			<form name="calculator" ng-submit="populateNoteInputModelFromJS()">
				
				<div class="form-group">
					<label class="control-label"><i class="ion-person"></i>
						 Balance</label> 
						<div class="input-group calcInput">
						<input type="text" id="originalPrincipleBalance" class="form-control "  autofocus ng-model="noteInputFormModel.originalPrincipleBalance"
						maxlength="90"  pattern="[0-9.]+" title="This field can contain only  numeric characters."  placeholder="Enter  balance." />
						<span class="input-group-addon" ng-click="populateNoteInputModelFromJS('originalPrincipleBalance')">
    					    <i class="glyphicon glyphicon-search"></i>
    					</span>
						<span class="input-group-addon" ng-click="clearCalcField('originalPrincipleBalance')">
        					<i class="glyphicon glyphicon-remove"></i>
    					</span>	
    					</div>	 		
				</div>
				<div class="form-group">
					<label class="control-label"><i class="ion-at"></i> Rate
						</label> 
						<div class="input-group calcInput">
						<input type="text"  id="rate" class="form-control" pattern="[0-9.]+" placeholder="Enter Annual Interest Rate."  maxlength="90"
						title="This field can contain only  numeric characters." ng-model="noteInputFormModel.rate" />
						<span class="input-group-addon" ng-click="populateNoteInputModelFromJS('rate')">
    					    <i class="glyphicon glyphicon-search"></i>
    					</span>
						<span class="input-group-addon" ng-click="clearCalcField('rate')">
        					<i class="glyphicon glyphicon-remove"></i>
    					</span>	
    					</div>	
				</div>
				<div class="form-group">
					<label class="control-label"><i class="ion-at"></i> Payment
						</label> 
						<div class="input-group calcInput">
						<input type="text" id="pdiPayment" class="form-control" placeholder="Enter payment amount."  maxlength="90" pattern="[0-9.]+"
						title="This field can contain only  numeric characters."  ng-model="noteInputFormModel.pdiPayment"/>
						<span class="input-group-addon" ng-click="populateNoteInputModelFromJS('pdiPayment')">
    					    <i class="glyphicon glyphicon-search"></i>
    					</span>
						<span class="input-group-addon" ng-click="clearCalcField('pdiPayment')">
        					<i class="glyphicon glyphicon-remove"></i>
    					</span>	
    					</div>
				</div>
				<div class="form-group">
					<label class="control-label"><i class="ion-at"></i> Term
						</label> 
						<div class="input-group calcInput">
						<input type="text" id="originalTerm" class="form-control" placeholder="Enter duration in months."  maxlength="90" pattern="[0-9.]+"
						title="This field can contain only  numeric characters." ng-model="noteInputFormModel.originalTerm" />
						<span class="input-group-addon" ng-click="populateNoteInputModelFromJS('originalTerm')">
    					    <i class="glyphicon glyphicon-search"></i>
    					</span>
						<span class="input-group-addon" ng-click="clearCalcField('originalTerm')">
        					<i class="glyphicon glyphicon-remove"></i>
    					</span>	
						</div>
				</div>
		
				<button class="btn btn-success">Calculate</button>
				<button class="btn btn-secondary" ng-click="clearCalcField()">Clear All</button>
				
			</form>
		</div>
	</div>

</div>
