<div class="container">
	
			<div class="row">
		<div class="col-sm-12 col-md-8 col-md-offset-2">
				<h2 class="text-center" style="padding-bottom: 3%;padding-top:3%;font-size:48px;">One stop destination to evaluate and manage notes
					</h2>
				<div ng-show="isNoteCSVAllowed()">
				 <form name="noteAnalayzeAndUploadForm">
						<section id="noteAnalyzerText" class="noteAnalyzerTextClass">
							<input type="text" id="noteAnalyzertext"
								class="noteAnalyzerTextBox"
								placeholder="Please enter your property zipcode" required maxlength="50"  pattern="[0-9]+" title="This field can contain only  numeric characters.."
								ng-model="zipCode" />
							<button type="submit" id="uploadNote" class="btn btn-primary" ng-disabled= "!noteAnalayzeAndUploadForm.$valid"
								ng-click="noteAnalyzed()">Analyze</button>
						</section>
						</form>
						<form name="noteAnalayzeUploadForm">
						<section id="noteAnalyzerUpload" class="noteAnalyzerUploadClass">
							<input file-model="myFile" type="file" id="noteFileUpload"
								class="noteFileUploadBatch"  accept=".csv" />
							<button type="submit" id="uploadNoteBatch"  class ="btn btn-primary" ng-click="uploadFile()">Upload Notes</button>
							<!-- <p>
								<a href="templateDownload" >Download Note Template</a>
							</p> -->
						</section>
						</form>
						</div>
					</div>
				<div ng-hide="isNoteCSVAllowed()">
				<form id="noteAnalayzeForm" method="post" class="form-horizontal">
					<div class="row">
						<div class="col-sm-12 col-md-8 col-md-offset-4">
							<div class="input-group">
								<input type="text" id="noteAnalyzertext"
									class="noteAnalyzerTextBox"
									placeholder="Please enter your property zipcode" required
									maxlength="10" pattern="[0-9]+"
									title="This field can contain only  numeric characters."
									ng-model="zipCode" />
								<button id="noteAnalyzeBtn" autofocus = "autofocus" class="btn btn-primary" type="submit" ng-click="noteAnalyzed()">Analyze</button>
							</div>
							<!-- /input-group -->
						</div>
						<!-- /.col-lg-4 -->
					</div>
					<!-- /.row -->
				</form>
				</div>
			</div>
			<br />

			<div class="row">
				<div class="col-sm-12 col-md-8 col-md-offset-2">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item"
							src="https://www.youtube.com/embed/-etED4TO4hA"> </iframe>
					</div>
				</div>

			</div>
</div>
