<div class="container" id = "noteInputFormContainer" >
	<div class="panel panel-default">
		<div class="panel-heading">Note Input Form</div>
		<div class="panel-body">
		
    
    <form id="noteInputForm"  class="form-horizontal" >
                       <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Note Type</label>
                            <div class="col-lg-3">
                               <select class="form-control icon-text" name="noteType" ng-init="noteInputFormModel.selNoteType=noteInputFormModel.noteTypeList[0]" 	ng-model="noteInputFormModel.selNoteType"  ng-change="noteInputFormModel.originalTerm=noteInputFormModel.selNoteType.termMonths"
					ng-options="noteType.noteTypeValue for noteType in noteInputFormModel.noteTypeList">
                                </select><span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="There are 3 types of notes: performing, sub-performing and non-performing"></span>
                            </div>
                             <label class="col-lg-2 control-label">Original Term</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control icon-text" name="originalTerm" readonly ng-model="noteInputFormModel.originalTerm"  ng-init="noteInputFormModel.originalTerm=noteInputFormModel.selNoteType.termMonths" />
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Original term depends upon the note type selection. "></span>
                            </div>
                        </div>
                       
						 <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Zip Code</label>
                            <div class="col-lg-3 zipCode">
                                <input type="text" class="form-control icon-text" name="zipCode" ng-model="noteInputFormModel.zipCode"  placeholder="Enter Zip Code"  readonly/>
                             <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Enter zip code"></span>
                            </div>
                           <label class="col-lg-2 control-label requiredField">City</label>
                            <div class="col-lg-3 city">
                                <select class="form-control icon-text" name="city"  
                                ng-init="noteInputFormModel.selCity=noteInputFormModel.address.cityList[0]"
                                ng-model="noteInputFormModel.selCity"
                                ng-options="city for city in noteInputFormModel.address.cityList">
                                </select><span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Select city"></span>
                            </div> 
                        </div>
						
                        <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Street Address</label>
                            <div class="col-lg-3 streetAddress">
                                <input type="text" class="form-control icon-text" name="streetAddress" placeholder="Enter Street Address" ng-model="noteInputFormModel.streetAddress" />
								<span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Enter Street Address"></span>
                            </div>
                            <label class="col-lg-2 control-label requiredField">State</label>
                             <div class="col-lg-3 state">
                                <select class="form-control icon-text" name="state"  
                                ng-init="noteInputFormModel.selState=noteInputFormModel.address.stateList[0]"
                                ng-model="noteInputFormModel.selState"
                                ng-options="state for state in noteInputFormModel.address.stateList">>
                                </select><span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Select state"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Property Type</label>
                            <div class="col-lg-3">
                               <select class="form-control icon-text" name="propertyType"
                               ng-init="noteInputFormModel.selPropType=noteInputFormModel.propTypeList[0]"
                               ng-model="noteInputFormModel.selPropType"
							   ng-options="propType.propertyTypeValue for propType in noteInputFormModel.propTypeList">
                                </select><span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Select property type"></span>
                            </div>
                             <label class="col-lg-2 control-label requiredField">Note Date</label>
                            <div class="col-lg-3 noteDate">
                                <input type="text" class="form-control icon-text" id="selNoteDate" name="noteDate" placeholder="Note Date(MM/DD/YYYY)" uib-datepicker-popup="MM/dd/yyyy" ng-model="noteInputFormModel.noteDate" is-open="noteDate.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                
                                   <div class="input-group-btn noteDateCalAligment">
            					<button type="button" class="btn btn-default calButton" ng-click="noteDate()"><i class="glyphicon glyphicon-calendar"></i></button>
          						</div>
          						<span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Select note date"></span>
                            </div>
                        </div>
                          
                        <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Unpaid Balance</label>
                            <div class="col-lg-3 upb">
                            <div class="input-group">
  								<span class="input-group-addon">$</span>
                                <input type="text" class="form-control icon-text" name="upb" id="upb" placeholder="Enter unpaid balance" ng-model="noteInputFormModel.upb" ng-blur="populateNoteInputModelFromJS()" />
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Enter unpiad balance"></span>
                                </div>
                            </div>
                           <label class="col-lg-2 control-label requiredField">Rate</label>
                            <div class="col-lg-3 rate">
                                <input type="text" class="form-control icon-text" name="rate" id ="rate" placeholder="Enter annual interest rate" ng-model="noteInputFormModel.rate | replaceComma" ng-blur="populateNoteInputModelFromJS()"/>
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Enter annual interest rate"></span>
                            </div>
                        </div>
                          
                       
                          
                        <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">PDI Payment</label>
                            <div class="col-lg-3 pdiPayment">
                                <input type="text" class="form-control icon-text" name="pdiPayment" id ="pdiPayment" placeholder="Enter payment and interest" ng-model="noteInputFormModel.pdiPayment" ng-blur="populateNoteInputModelFromJS()" />
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Enter payment and interest"></span>
                            </div>
                           <label class="col-lg-2 control-label requiredField">TDI Payment</label>
                            <div class="col-lg-3 tdiPayment">
                                <input type="text" class="form-control icon-text" name="tdiPayment"  placeholder="Enter tax and interest" ng-model="noteInputFormModel.tdiPayment"/>
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Enter tax and interest"></span>
                            </div>
                        </div>
                          
                        
                            <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Original Principal Balance</label>
                            <div class="col-lg-3 originalPrincipalBal">
                                <input type="text" class="form-control icon-text" name="originalPrincipalBal" placeholder="Enter Original Principal Balance" ng-model="noteInputFormModel.originalPrincipleBalance" ng-blur="populateNoteInputModelFromJS()"/>
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Enter  Original Principal Balance"></span>
                            </div>
                            <label class="col-lg-2 control-label requiredField">Sales Price</label>
                            <div class="col-lg-3 salesPrice">
                                <input type="text" class="form-control icon-text" name="salesPrice" placeholder="Enter Sales Price" ng-model="noteInputFormModel.salePrice"  />
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Enter sales price"></span>
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Number of Late Payment</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control icon-text" name="noOfLatePayment" placeholder="Enter Number of Late Payment" ng-model="noteInputFormModel.noOfLatePayment" />
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Enter  Number of Late Payment"></span>
                            </div>
                             <label class="col-lg-2 control-label requiredField">Performing</label>
                            <div class="col-lg-3">
                                  <select class="form-control icon-text" name="peforming"
                               ng-init="noteInputFormModel.performing='Y'"
                               ng-model="noteInputFormModel.performing">
							  <option value="Y">Performing</option>
                                    <option value="N">Non-Performing</option>
                                    <option value="U">Unknown</option>
                                </select><span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Select note Pefroming"></span>
                            </div>
                        </div>
                        
                           <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Note Position</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control icon-text" name="notePosition" placeholder="Enter Note Position" ng-model="noteInputFormModel.notePosition" />
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Enter Note Position"></span>
                            </div>
                             <label class="col-lg-2 control-label">Borrower Credit Score</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control icon-text" name="borrowerCreditScore" placeholder="Enter Borrower Credit Score" ng-model="noteInputFormModel.borrowerCreditScore" />
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Enter Borrower Credit Score"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Note Price</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control icon-text" name="notePrice" placeholder="Enter Note Price" ng-model="noteInputFormModel.notePrice" />
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Enter Note Price"></span>
                            </div>
                             <label class="col-lg-2 control-label">Remaining no of payments</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control icon-text" name="remainingNoOfPayment" placeholder="Remaining no of payments" ng-model="noteInputFormModel.remainingNoOfPayment" />
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Enter Remaining no of payments"></span>
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Original Property Value</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control icon-text" name="originalPropertyValue" placeholder="Enter original property value" ng-model="noteInputFormModel.originalPropertyValue" />
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Enter original property value"></span>
                            </div>
                             <label class="col-lg-2 control-label">User Score</label>
                            <div class="col-lg-3">
                            <input type="text" class="form-control icon-text" name="userScore" placeholder="Enter Score entered by user" ng-model="noteInputFormModel.userScore" />
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Enter Score entered by user"></span>
                            </div>
                        </div>
                
                       <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-2">
                                <input type="button" class= "btn btn-lg btn-success" id="createNoteBtn"  name="createNote" value="Create Note"/>
                                <input type="button" class="btn btn-lg btn-info" ng-click="populateNoteInputModelFromJS()" value= "Calculate"/>
                                <input type="button" class="btn btn-lg btn-info" ng-click="clearNoteInputModelFromJS()" id="resetNoteBtn" value= "Reset"/>
                                <input type="button" class="btn btn-lg btn-info" ng-click="cancel()" value="Cancel" />
                                 <input type="button" class= "btn" style="visibility: hidden;" id="createNoteBtnHidden"   ng-click ="createNote();" name="createNoteHidden" value="Create Note"/>
                            </div>
                        </div>
                    </form>
                   
</div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    // Generate a simple captcha
    function randomNumber(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    };
    $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));

    $('#noteInputForm').bootstrapValidator({
//       
        message: 'This value is not valid',
        live: 'enabled',
        excluded: [':disabled', ':hidden', ':not(:visible)'],
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
          noteDate: {
            	group:'.col-lg-3',
                validators: {
                     notEmpty: {
                        message: 'The note date field cannot be empty'
                    },
                    date: {
                        format: 'MM/DD/YYYY',
                        message: 'The note date is not in valid(MM/DD/YYYY) format'
                    }
                }
            },
            streetAddress: {
            	group:'.col-lg-3',
                validators: {
                    notEmpty: {
                        message: 'The street address is required and can\'t be empty.'
                    },
           		 stringLength: {
	                     min: 1,
	                     max: 200,
	                     message: 'The UPB must be less than 200 characters long'
	            	 }
                }
            },
             upb:{
            	 group:'.col-lg-3',
            	 validators: {
            		 regexp: {
                         regexp: /^[-,.0-9 ]+$/i,
                         message: 'The full name can consist of alphabetical characters and spaces only'
                     },
            		 stringLength: {
	                     min: 1,
	                     max: 20,
	                     message: 'The UPB must be less than 20 characters long'
	            	 },
	            	 notEmpty: {
	                        message: 'The upb is required and can\'t be empty.'
	                    }
             }},
             rate:{
            	 group:'.col-lg-3',
            	 validators: {
            		 numeric: {
                         message: 'This value is not a valid number.',
                         // The default separators
                         thousandsSeparator: '',
                         decimalSeparator: '.'
                     },
            		 stringLength: {
	                     min: 1,
	                     max: 20,
	                     message: 'The rate must be less than 20 characters long'
	            	 },
	            	 notEmpty: {
	                        message: 'The rate is required and can\'t be empty.'
	                    }
             }},
             pdiPayment:{
            	 group:'.col-lg-3',
            	 validators: {
            		 numeric: {
                         message: 'This value is not a valid number.',
                         // The default separators
                         thousandsSeparator: '',
                         decimalSeparator: '.'
                     },
            		 stringLength: {
	                     min: 1,
	                     max: 20,
	                     message: 'The pdi payment must be less than 20 characters long'
	            	 },
	            	 notEmpty: {
	                        message: 'The pdi payment is required and can\'t be empty.'
	                    }
             }},
             tdiPayment:{
            	 group:'.col-lg-3',
            	 validators: {
            		 numeric: {
                         message: 'This value is not a valid number.',
                         // The default separators
                         thousandsSeparator: '',
                         decimalSeparator: '.'
                     },
            		 stringLength: {
	                     min: 1,
	                     max: 20,
	                     message: 'The tdi payment must be less than 20 characters long'
	            	 },
	            	 notEmpty: {
	                        message: 'The tdi payment is required and can\'t be empty.'
	                    }
             }},
             salesPrice:{
            	 group:'.col-lg-3',
            	 validators: {
            		 numeric: {
                         message: 'This value is not a valid number.',
                         // The default separators
                         thousandsSeparator: '',
                         decimalSeparator: '.'
                     },
            		 stringLength: {
	                     min: 1,
	                     max: 20,
	                     message: 'The sales price must be less than noteInputForm characters long'
	            	 },
	            	 notEmpty: {
	                        message: 'The sales price is required and can\'t be empty.'
	                    }
             }},
             originalPrincipalBal:{
            	 group:'.col-lg-3',
            	 validators: {
            		 numeric: {
                         message: 'This value is not a valid number.',
                         // The default separators
                         thousandsSeparator: '',
                         decimalSeparator: '.'
                     },
            		 stringLength: {
	                     min: 1,
	                     max: 20,
	                     message: 'The original principal bal must be less than noteInputForm characters long'
	            	 },
	            	 notEmpty: {
	                        message: 'The original principal balance is required and can\'t be empty.'
	                    }
             }},
             notePrice:{
            	 group:'.col-lg-3',
            	 validators: {
            		 numeric: {
                         message: 'This value is not a valid number.',
                         // The default separators
                         thousandsSeparator: '',
                         decimalSeparator: '.'
                     },
            		 stringLength: {
	                     min: 1,
	                     max: 20,
	                     message: 'The Note Price must be less than 20 characters long'
	            	 },
	            	 notEmpty: {
	                        message: 'The Note Price is required and can\'t be empty.'
	                    }
             }},
             originalPropertyValue:{
            	 group:'.col-lg-3',
            	 validators: {
            		 numeric: {
                         message: 'This value is not a valid number.',
                         // The default separators
                         thousandsSeparator: '',
                         decimalSeparator: '.'
                     },
            		 stringLength: {
	                     min: 1,
	                     max: 20,
	                     message: 'The original property value must be less than 20 characters long'
	            	 },
	            	 notEmpty: {
	                        message: 'The original property value is required and can\'t be empty.'
	                    }
             }}, 
             remainingNoOfPayment:{
            	 group:'.col-lg-3',
            	 validators: {
            		 numeric: {
                         message: 'This value is not a valid number.',
                         // The default separators
                         thousandsSeparator: '',
                         decimalSeparator: '.'
                     },
            		 stringLength: {
	                     min: 1,
	                     max: 20,
	                     message: 'The remaining no of payment must be less than 20 characters long'
	            	 },
	            	 notEmpty: {
	                        message: 'The remaining no of payment value is required and can\'t be empty.'
	                    }
             }},
             noOfLatePayment:{
            	 group:'.col-lg-3',
            	 validators: {
            		 numeric: {
                         message: 'This value is not a valid number.',
                         // The default separators
                         thousandsSeparator: '',
                         decimalSeparator: '.'
                     },
            		 stringLength: {
	                     min: 1,
	                     max: 10,
	                     message: 'The No of Late Payment must be less than 10 characters long'
	            	 },
	            	 notEmpty: {
	                        message: 'The No of Late Payment is required and can\'t be empty.'
	                    }
             }},
             notePosition:{
            	 group:'.col-lg-3',
            	 validators: {
            		 numeric: {
                         message: 'This value is not a valid number.',
                         // The default separators
                         thousandsSeparator: '',
                         decimalSeparator: '.'
                     },
            		 stringLength: {
	                     min: 1,
	                     max: 10,
	                     message: 'The note position value must be less than 10 characters long'
	            	 },
	            	 notEmpty: {
	                        message: 'The note position is required and can\'t be empty.'
	                    }
             }}, 
             borrowerCreditScore:{
            	 group:'.col-lg-3',
            	 validators: {
            		 numeric: {
                         message: 'This value is not a valid number.',
                         // The default separators
                         thousandsSeparator: '',
                         decimalSeparator: '.'
                     },
            		 stringLength: {
	                     min: 1,
	                     max: 20,
	                     message: 'The Borrower Credit Score must be less than 20 characters long'
	            	 },
	            	 notEmpty: {
	                        message: 'The Borrower Credit Score value is required and can\'t be empty.'
	                    }
             }}
             
           /*  captcha: {
                validators: {
                    callback: {
                        message: 'Wrong answer',
                        callback: function(value, validator) {
                            var items = $('#captchaOperation').html().split(' '), sum = parseInt(items[0]) + parseInt(items[2]);
                            return value == sum;
                        }
                    }
                }
            } */
        }
    });

    // Validate the form manually
   $('#createNoteBtn').click(function() {
        if($('#noteInputForm').bootstrapValidator('validate').has('.has-error').length){
	       	return false;
    	}else{
    		$("#createNoteBtnHidden").trigger( "click" );
    	};
        });
    
   $('#resetNoteBtn').click(function() {
   	$('#noteInputForm').bootstrapValidator('resetForm', true);
   });
    
   $('#noteInputForm').click(function(){
	   if($('#selNoteDate').val()!=''){
	   	$('#noteInputForm').bootstrapValidator('revalidateField', 'noteDate');
	   }
	   if($('#upb').val()!=''){
	   $('#noteInputForm').bootstrapValidator('revalidateField', 'upb');
	   }
	   if($('#rate').val()!=''){
	   $('#noteInputForm').bootstrapValidator('revalidateField', 'rate');
	   }
	   if($('#pdiPayment').val()!=''){
	   $('#noteInputForm').bootstrapValidator('revalidateField', 'pdiPayment');
	   }
	 });
  
});
</script>
