<div>
	<div class="modal-header">
		<h3 class="modal-title">Note Detail</h3>
	</div>
<form name="noteInputForm">
	<div class="modal-body">

			<div class="block" >
				<label class="requiredField">TypeOfNote</label> <select style="margin-left: 4px;" name="noteType" required
					ng-model="noteInputFormModel.selNoteType"
					ng-options="noteType.noteTypeValue for noteType in noteInputFormModel.noteTypeList"></select>
					<span class="glyphicon glyphicon-info-sign tooltip-color" tooltip-placement="top" uib-tooltip="There are 3 types of notes: performing, sub-performing and non-performing"></span>
					<span class="inputError" ng-show="hasError('noteType', 'required')">Required</span>
			</div>
			<div class="block" >
				<label class="requiredField">Street Address</label> 
				<input class="input" type="text" name="streetAddress" required maxlength="100" 
					ng-model="noteInputFormModel.address.streetAddress" />
					<span class="glyphicon glyphicon-info-sign tooltip-color" tooltip-placement="top" uib-tooltip="Details about this field"></span>
					<span class="inputError" ng-show="hasError('streetAddress', 'required')">Required</span>
			</div>
			<div class="block">
				<label >Address</label> <span>{{noteInputFormModel.address.city}}, {{noteInputFormModel.address.state}}, {{noteInputFormModel.address.zipCode}}</span><span class="glyphicon glyphicon-info-sign tooltip-color" tooltip-placement="top" uib-tooltip="Details about this field"></span>
			</div>
			
			<div class="block">
				<label class="requiredField">PropertyType</label> <select style="margin-left: 4px;" required name ="propertyType"
					ng-model="noteInputFormModel.selPropType"
					ng-options="propType.propertyTypeValue for propType in noteInputFormModel.propTypeList"></select>
					<span class="glyphicon glyphicon-info-sign tooltip-color" tooltip-placement="top" uib-tooltip="Details about this field"></span>
					<span class="inputError" ng-show="hasError('propertyType', 'required')">Required</span>
			</div>
			
			<div class="block">
			<label class="requiredField" >DateOfNote</label><div>
      			   <input type="text"  required name ="dateOfNote" class="noteDateClass noteDateAligment" uib-datepicker-popup="MM/dd/yyyy" ng-model="noteInputFormModel.noteDate" is-open="noteDate.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <div class="input-group-btn noteDateCalAligment">
            <button type="button" class="btn btn-default calButton" ng-click="noteDate()"><i class="glyphicon glyphicon-calendar"></i></button>
          </div>
          <span class="glyphicon glyphicon-info-sign tooltip-color noteDateAligment" tooltip-placement="top" uib-tooltip="Origination date of the note"></span>
          <span class="inputError noteDateAligment" ng-show="hasError('dateOfNote', 'required')">Required</span></div> 
			</div>
			<div class="block">
				<label class="requiredField">UPB</label> <input class="input" type="text" required name ="upb" maxlength="50"  pattern="[0-9.\s]+" title="This field can contain only numeric characters."  ng-blur="populateNoteInputModelFromJS()"
					ng-model="noteInputFormModel.upb" />
					<span class="glyphicon glyphicon-info-sign tooltip-color" tooltip-placement="top" uib-tooltip="Unpaid loan balance"></span>
					<span class="inputError" ng-show="hasError('upb', 'required')">Required</span>
			</div>
			<div class="block">
				<label class="requiredField">Rate</label> <input class="input" type="text" required name ="rate" maxlength="50"  pattern="[0-9.\s]+" title="This field can contain only numeric characters."  ng-blur="populateNoteInputModelFromJS()"
					ng-model="noteInputFormModel.rate" placeholder="Enter annual interest rate"/>
					<span class="glyphicon glyphicon-info-sign tooltip-color" tooltip-placement="top" uib-tooltip="Original interest rate of the note"></span>
					<span class="inputError" ng-show="hasError('rate', 'required')">Required</span>
			</div>
			<div class="block">
				<label class="requiredField">PDI Payment</label> <input class="input" type="text"  required name ="pdiPayment" maxlength="50"  pattern="[0-9.\s]+" title="This field can contain only numeric characters."  ng-blur="populateNoteInputModelFromJS()"
					ng-model="noteInputFormModel.pdiPayment" />
					<span class="glyphicon glyphicon-info-sign tooltip-color" tooltip-placement="top" uib-tooltip="Payment and interest"></span>
					<span class="inputError" ng-show="hasError('pdiPayment', 'required')">Required</span>
			</div>
			<div class="block">
				<label class="requiredField">TDI Payment</label> <input class="input" type="text" required name ="tdiPayment" maxlength="50"  pattern="[0-9.\s]+" title="This field can contain only numeric characters."  
					ng-model="noteInputFormModel.tdiPayment" />
					<span class="glyphicon glyphicon-info-sign tooltip-color" tooltip-placement="top" uib-tooltip="Taxes"></span>
					<span class="inputError" ng-show="hasError('tdiPayment', 'required')">Required</span>
			</div>
			<div class="block">
				<label class="requiredField" >Original Term</label> <input class="input" type="text" required name ="originalTerm" maxlength="50"  pattern="[0-9.\s]+" title="This field can contain only numeric characters."  ng-blur="populateNoteInputModelFromJS()"
					ng-model="noteInputFormModel.originalTerm" placeholder="Enter duration in months" />
					<span class="glyphicon glyphicon-info-sign tooltip-color" tooltip-placement="top" uib-tooltip="Original length/term of the note"></span>
					<span class="inputError" ng-show="hasError('originalTerm', 'required')">Required</span>
			</div>
			
			<div class="block">
				<label class="requiredField" >Original Principle Balance</label> <input class="input" type="text" required name ="originalTerm" maxlength="50"  pattern="[0-9.\s]+" title="This field can contain only numeric characters.."
					ng-model="noteInputFormModel.originalPrincipleBalance" />
					<span class="glyphicon glyphicon-info-sign tooltip-color" tooltip-placement="top" uib-tooltip="Original principle balance of the loan"></span>
					<span class="inputError" ng-show="hasError('originalTerm', 'required')">Required</span>
			</div>
			
			
	</div>
	<div class="modal-footer">
		<button class="btn btn-secondary" ng-click="populateNoteInputModelFromJS()">Calculate</button>
		<button class="btn btn-primary"  ng-click="save()">Save</button>
		<button class="btn btn-primary" ng-click="$close()">Cancel</button>
	</div>
</form>
</div>
