<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">Subscription</div>
		<div class="panel-body">
			<div class="plans">
				<div class="plan">
					<h3 class="plan-title">Basic</h3>
					<p class="plan-price">
						Free trial <span class="plan-unit">for 3 month</span>
					</p>
					<ul class="plan-features">
						<li class="plan-feature">10 <span class="plan-feature-name">Note Analysis</span></li>
						<li class="plan-feature">Few<span class="plan-feature-unit">more feature</span>
							<span class="plan-feature-name">storage</span></li>
						<li class="plan-feature">Testing <span class="plan-feature-name">Basic</span></li>
					</ul>
					<a href="#" class="plan-button">Choose Plan</a>
				</div>
				<div class="plan plan-highlight">
					<p class="plan-recommended">Recommended</p>
					<h3 class="plan-title">Professional</h3>
					<p class="plan-price">
						$49 <span class="plan-unit">per annum</span>
					</p>
					<ul class="plan-features">
						<li class="plan-feature">Unlimited <span class="plan-feature-name">Note Analysis</span></li>
						<li class="plan-feature">Bulk<span class="plan-feature-unit">Upload</span>
						<li class="plan-feature">Multiple<span class="plan-feature-unit">Note Type Support</span>
							<span class="plan-feature-name">storage</span></li>
						<li class="plan-feature">Unlimited <span class="plan-feature-name">storage</span></li>
					</ul>
					<a href="#" class="plan-button">Choose Plan</a>
				</div>

			</div>
		</div>
	</div>
</div>
